body{

    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(153, 27, 226, 0.74); 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
 }
 h2{
    text-align: center;
    color: #111010d5;
 }
 form {
    background-color: rgba(220, 155, 240, 0.178);
    border-radius: 8px;
    padding: 20;
    box-shadow: 0px 2px 6px rgba(red, green, blue, alpha);
    width: 300px;
 }

 input{
    width: 100%;
    color: rgba(178, 119, 233, 0.555);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px 15px;
    border-radius: 4px;
 }
 button{
    background-color: rgb(153, 235, 12);
    
 }